<div class="content-height" style="min-height: 20vh;"></div>
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0 " style="height: 80px;">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="home" role="button">Home</a>
      <a class="btn btn-outline-light btn-floating m-1" href="filmes" role="button">Filmes</a>
      <a class="btn btn-outline-light btn-floating m-1" href="personagens" role="button">Personagens</a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #363636;">
    © 2022 Copyright
  </div>
  <!-- Copyright -->
</footer>
