<section class="container-fluid my-4">
  <div class="text-center py-5" style="background-color: black;">
    <img src="./assets/_img/starwars logo.png" alt="Letreiro Star Wars" style="width: 60rem; height: 20rem;">
  </div>
  <section class="container my-5">
    <div class="mx-5">

      <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-center">
            <div class="card" style="width: 20rem; background-color: #f4f3ee;">
              <div class="card-body">
                <h5 class="card-title">Filmes</h5>
                <p class="card-text">Informações a respeito dos 6 primeiros filmes da franquia de Star Wars.</p>
                <a href="filmes" class="card-link btn btn-dark">Info Filmes</a>
              </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-center">
            <div class="card" style="width: 20rem; background-color: #f4f3ee;">
              <div class="card-body">
                <h5 class="card-title">Personagens</h5>
                <p class="card-text">Informações a respeito dos personagens dos 6 primeiros filmes da franquia de Star Wars.</p>
                <a href="personagens" class="card-link btn btn-dark">Info Personagens</a>
              </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </section>
</section>
